# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [4]:
df['stars_squared'] = df['stars'].map(lambda x: x**2)
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25

## Dates
Select the month from the date string using a lambda function.

In [7]:
month = df['date'].map(lambda x: x[5:7])
month.head()

0    11
1    10
2    09
3    02
4    06
Name: date, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [11]:
df['text'].map(lambda x: x.split())

0       I love this place! My fiance And I go here atl...
1       Terrible. Dry corn bread. Rib tips were all fa...
2       Delicious healthy food. The steak is amazing. ...
3       This place sucks. The customer service is horr...
4       I have been an Emerald Club member for a numbe...
5       The score should be negative. Its HORRIBLE. Th...
6       I went there twice and I am pretty happy with ...
7       Finally! After trying many Mexican restaurants...
8       I have to write a review on the Fractured Prun...
9       I wish i could tell you all about the food but...
10      Wonderful! One of my favorite places. BBQ is e...
11      The price is about the same as Quizinos. The s...
12      The food was ok. You get a lot of food for the...
13      The staff were friendly and helpful. The food ...
14      The staff were very helpful. We painted potter...
15      Limited vegetarian options. Ordered Greek sala...
16      I trust my vehicles here. Comparable prices. M...
17      This place doesn't even deserve 1 star. Horrib...
18      The butter burger was cooked perfectly and jui...
19      Best location ever! I love love love the manag...
20      This was a real fun time. Lots of laughs and e...
21      Horrible. The smart ones have closed their acc...
22      Love the 'old school' ambiance. Friendly staff...
23      Better service and much better prices than the...
24      I love how they have no rice sushi options. Th...
25      2 of my girlfriends recommended this place so ...
26      Huge Apple Danishes! Unfortunatley huge doesnt...
27      What a nice and friendly person that answered ...
28      I have been here 3 1/2 years.   The staff is a...
29      This place is not just a restaurant has a grea...
                              ...
2580    While very good you can't help but feel you're...
2581    I finally found a pizza that ill never get tir...
2582    This place is really one of the few I would sp...
2583    I went two days ago for a simple tire tube for...
2584    I rented a Triumph Tiger for 5 days from this ...
2585    Had a cheese burger and fries was really expen...
2586    They do a great job of letting you know what's...
2587    I have been here four or five times and each t...
2588    After going to several physio clinics over the...
2589    Don't be deterred by the unassuming exterior! ...
2590    One of my favorite places for breakfast in the...
2591    I came to see the new Trader Joe's and had an ...
2592    Yeah of course they ran out of their London fo...
2593    HANDS DOWN the best burger joint!\r\n\r\nPros:...
2594    The food is good but a lil' pricey, however th...
2595    Probably one of the best AYCE sushi restaurant...
2596    Pad thai (beef)\r\n- The beef used was tough a...
2597    Here with my friend to get his car fixed. The ...
2598    Bamburger is the latest entry into the inexpen...
2599    Tried to attend a recent basketball game. Purc...
2600    Great place to take your kids and interesting ...
2601    While I will continue to eat at this establish...
2602    H&F Jewellery is amazing!\r\n\r\nI had given m...
2603    We loved the food. The service was good and we...
2604    Hit or miss. I used these guys twice in a day ...
2605    Came here with my 2 year old daughter for our ...
2606    Great little restaurant. Not to many tables an...
2607    Always great friendly service and fresh baked ...
2608    We were expecting amazing Thai food after all ...
2609    Sunday at 8p. Not many people here at all. We ...
Name: text, Length: 2610, dtype: object

## Create a new column for the number of words in the review.

In [ ]:
d

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [ ]:
#Your code here

In [ ]:
#Your code here

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.